# Database
DATABASE_URL=postgresql+asyncpg://admin:password@db:5432/mantenimientodb

# JWT
JWT_SECRET=change_this_in_production_min_32_chars
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Google APIs
GOOGLE_SERVICE_ACCOUNT_FILE=./infra/service_account.json
GOOGLE_DRIVE_FOLDER_ID=your_folder_id_here
GOOGLE_DRIVE_DOMAIN=optional_your_domain.com

# App
ENV=development
CORS_ORIGINS=["*"]
