# Para desarrollo local / Codespaces
DATABASE_URL=postgresql+asyncpg://admin:devpassword123@localhost:5432/mantenimientodb
JWT_SECRET=dev_secret_change_in_prod
# Google APIs (vacíos por ahora)
GOOGLE_SERVICE_ACCOUNT_FILE=./infra/service_account.json
GOOGLE_DRIVE_FOLDER_ID=temp_folder_id
